# Default values for release-cleaner
# This is a YAML-formatted file
# Declare variables to be passed into your templates

# -- Image registry
# The image configuration for the base service
image:
  # The repository of the image
  repository: alpine/helm
  # The pull policy for the image
  pullPolicy: IfNotPresent
  # Overrides the image tag whose default is the chart appVersion
  tag: ""

# -- String to partially override release-cleaner.fullname template (will maintain the release name)
nameOverride: ""

# -- String to fully override release-cleaner.fullname template
fullnameOverride: ""

# -- Docker registry secret names as an array
imagePullSecrets: []
# - name: my-secret-name

# -- Enable creation of ServiceAccount
# </br> Ref: https://kubernetes.io/docs/concepts/security/service-accounts/
serviceAccount:
  # Specifies whether a service account should be created
  create: true
  # Automatically mount a ServiceAccount's API credentials?
  automount: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use
  # If not set and create is true, a name is generated using the fullname template
  name: ""

# -- CronJob schedule
# </br> Ref: https://kubernetes.io/docs/concepts/workloads/controllers/cron-jobs/
schedule: "5 * * * *"

# -- CronJob configuration
cronjob:
  # -- Specifies how to treat concurrent executions of a Job
  concurrencyPolicy: Replace
  # -- The number of failed finished jobs to retain
  failedJobsHistoryLimit: 2
  # -- The number of successful finished jobs to retain
  successfulJobsHistoryLimit: 10
  # -- An optional deadline in seconds for starting the job
  # startingDeadlineSeconds: 200
  # -- Specifies the number of retries before marking job as failed
  backoffLimit: 6
  # -- Specifies the duration in seconds relative to the startTime
  # activeDeadlineSeconds: 600
  # -- Suspend the CronJob
  suspend: false
  # -- Restart policy for all containers within the Pod
  restartPolicy: Never

# -- Text string with the namespace names where the cleaner will work
# If none is specified, by default it will be executed in the default namespace
# Example: "default, monitoring"
namespacesClean: "default"

# -- Exclusion of releases
# List of releases to be excluded by the cleaner
releasesExclude:
  enabled: false
  releases:
    - my-release

# -- Environment variables to configure application
env: {}
# MY_VARIABLE: "my-value"

# -- Variables from configMap
envFromConfigMap: {}
# MY_VARIABLE:
#  name: <name-configmap>
#  key: key

# -- Variables from secrets
envFromSecrets: {}
# MY_VARIABLE:
#  name: <name-secret>
#  key: secret_key

# -- Configure annotations on Pods
podAnnotations: {}

# -- Configure labels on Pods
podLabels: {}

# -- Defines privilege and access control settings for a Pod
# </br> Ref: https://kubernetes.io/docs/concepts/security/pod-security-standards/
# </br> Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
podSecurityContext: {}
# fsGroup: 2000

# -- Defines privilege and access control settings for a Container
# </br> Ref: https://kubernetes.io/docs/concepts/security/pod-security-standards/
# </br> Ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/
securityContext: {}
# capabilities:
#   drop:
#   - ALL
# readOnlyRootFilesystem: true
# runAsNonRoot: true
# runAsUser: 1000

# -- NetworkPolicy configuration
# </br> Ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/
networkPolicy:
  # -- Enable or disable NetworkPolicy
  enabled: false
  # -- Policy types
  policyTypes: []
  # - Ingress
  # - Egress
  ingress: []
  # - from:
  #   - ipBlock:
  #       cidr: 172.17.0.0/16
  #       except:
  #       - 172.17.1.0/24
  #   - namespaceSelector:
  #       matchLabels:
  #         project: myproject
  #   - podSelector:
  #       matchLabels:
  #         role: frontend
  #   ports:
  #   - protocol: TCP
  #     port: 6379
  egress: []
  # - to:
  #   - ipBlock:
  #       cidr: 10.0.0.0/24
  #   ports:
  #   - protocol: TCP
  #     port: 5978

# -- Resources limits and requested
# </br> Ref: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
resources: {}
# limits:
#   cpu: 100m
#   memory: 128Mi
# requests:
#   cpu: 100m
#   memory: 128Mi

# -- Additional volumes on the output CronJob definition
# </br> Ref: https://kubernetes.io/docs/concepts/storage/volumes/
volumes: []
# - name: foo
#   secret:
#     secretName: mysecret
#     optional: false

# -- Additional volumeMounts on the output CronJob definition
volumeMounts: []
# - name: foo
#   mountPath: "/etc/foo"
#   readOnly: true

# -- Node labels for pod assignment
# </br> Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
nodeSelector: {}

# -- Tolerations for pod assignment
# </br> Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/taint-and-toleration/
tolerations: []

# -- Affinity for pod assignment
# </br> Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

# -- Control how Pods are spread across your cluster
# </br> Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/topology-spread-constraints/#example-multiple-topologyspreadconstraints
topologySpreadConstraints: []
# - maxSkew: 1
#   topologyKey: zone
#   whenUnsatisfied: DoNotSchedule

# -- Configure DNS
# </br> Ref: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/
dnsConfig: {}
# nameservers:
#   - 1.2.3.4
#   - 5.6.7.8
# searches:
#   - ns1.svc.cluster.local
#   - my.dns.search.suffix
# option:
#   - name: ndots
#     value: "2"
#   - name: edns0
#   - name: timeout
#     value: "3"

# -- Configure DNS policy
# Options: ClusterFirst, Default, ClusterFirstWithHostNet, None
# </br> Ref: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/
dnsPolicy: ClusterFirst

# -- Extra Kubernetes manifests to deploy
extraObjects: []
# - apiVersion: v1
#   kind: ConfigMap
#   metadata:
#     name: extra-configmap
#   data:
#     key: value
